html,
body {
  height: 100%;
}
body {
  overflow: overlay; /* For non-webkit browsers */
}

body::-webkit-scrollbar {
  display: none; /* For webkit browsers */
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
