html,
body {
  height: 100%;
}
body {
  overflow: overlay; /* For non-webkit browsers */
}


.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
